<%- include('partials/navbar') %>
    <!-- Password Reset 11 - Bootstrap Brain Component -->
    <section class="py-3 py-md-5 py-xl-8">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="mb-5">
                        <h2 class="display-5 fw-bold text-center">Password Reset</h2>
                        <p class="text-center m-0">Set a new Password</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8">
                    <div class="row gy-5 justify-content-center">
                        <div class="col-12 col-lg-5">
                            <form action="/reset-pass" method="post">
                                <div class="row gy-3 overflow-hidden">
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                             <input type="hidden" name="token" value="<%= token %>" />
                                            <input type="password" class="form-control border-0 border-bottom rounded-0"
                                                name="password" id="email" required>
                                            <label for="email" class="form-label">New Password</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-lg" type="submit">Reset Password</button>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row justify-content-between">
                                            <div class="col-6">
                                                <a href="/login" class="link-secondary text-decoration-none">Login</a>
                                            </div>
                                            <div class="col-6">
                                                <div class="text-end">
                                                    <a href="/register"
                                                        class="link-secondary text-decoration-none">Register</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>